h1 {
  text-align: center;
  color: #FFFFFF;
}

img {
  display: inline-block;
}

body {
  margin: 0px;
  border: 25px solid #005921;
  background-image: url("https://images2.sw-cdn.net/product/picture/710x528_214530_296902_1452791952.jpg");
  height: 100%;
  width: 95%;
  background-repeat: no-repeat;
}

p {
  color: #FFFFFF;
}
