h1 {
  text-align: center;
  color: #035959;
}

img {
  display: inline-block;
  align: center;
  height: 500px;
  width: 350px;
}

body {
  margin: 0px;
  border: 25px solid #005921;
}

p {
  color: #0B8D80;
  display: inline-table;
}

html { 
  background: url("http://cdn.pcwallart.com/images/chess-board-wallpaper-3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1080px) {
  img {
      content:url(https://user-images.githubusercontent.com/25018733/30939058-0f47944c-a391-11e7-9bf3-e09ff4656fd8.png);
  }
	body {
	    background-image: url("https://lh3.googleusercontent.com/oEqPoxgpRLTH9Qylz7Oo_52p5Puosj0bGZKd12mM53grgKWPrgJZEcuEPqQqDl_d6oa8cFDx9Q=w640-h400-e365");
	    -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
	    background-repeat: no-repeat;
	}
}

